/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box;  
}

@font-face {
    font-family: 'ChunkFive', sans-serif;
    src: url('fonts/chunkfive.eot');
}

/* NAV */

ul {
    display: flex;
    margin:0; padding:1em;
    list-style:none;
    background-color: #18c1ee;

}

a {
    text-decoration: none;
    font-family: ChunkFive;
    color: white;
    font-size: 1em;
}

a:hover {
    color: hotpink;
    size: 2em;
}

li {
    padding: 1em;
    font-size: 1.5em;
}


.logo {
    width: 5em;
    height: 5em;
}

ul
li:first-of-type {
    flex-grow: 1;
}

/* MAIN  */
main {
    margin:0; padding:0.5em;
    font-family:sans-serif;
    background-color:rgb(214,214,214);
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; 

}

article {
    background-color:white;
    padding:1em;
    margin: 0.5em;
    max-width: 500px;
}

article:first-child {
    grid-column-start: 1;
    grid-column-end: -1;

}

img {
    max-width: 20em;
}
